
body {
  font-family: Arial, sans-serif;
  background-color: #f0bd76;
  margin: 0;
  padding: 20px;
}


.song-container {
  max-width: 1000px;
  margin: auto;
  background: #ffffff;
  padding: 20px;
  border: 1px solid #ffffff;
  border-radius: 8px;
}


.song-container h1 {
  text-align: center;
  color: #333;
}


.singer {
  text-align: center;
  font-style: italic;
  color: #555;
  margin-bottom: 20px;
}

.lyrics h2 {
  text-align: center;
  color: #201f1f;
  font-size: 24px;
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  margin-top: 80px;
}


.lyrics pre {
  background: #ffffff;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  line-height: 1.5;
  color: #222;
  overflow-x: auto;
}


#hds {
  color: #0066cc;
  font-weight: bold;
  font-size: 1.9em;
  margin-bottom: 70px;
}
#tips {
  color: #ff1b1b;
  font-weight: bold;
  background-color: #e2f5a7;
  text-align: left;
  font-size: 16px;
  font-family: arial;
  padding-bottom: 20px;
  padding-left: 20px;
}
strong{
   color:#ec104e
}